html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
}

:root {
	--google-blue: rgb(66,133,244);
	--google-red: rgb(219,68,55);
	--google-yellow: rgb(244,160,0);
}

#gridContainer {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 17% 17% 17% 17%;
    grid-gap: 10px;
    background-color: black;
}

.item {
    height: 100%;
    position: relative;

    color: var(--google-yellow);
    font-family: "Swiss 911";
    letter-spacing: 4px;
    text-shadow: 3px 3px black;
    text-align: center;
    background-color: darkblue;
}

.itemTitle {
    color: white;
    background-color: var(--google-blue);
    font-size: 3vw;
}

.itemOption {
    /*background-image: linear-gradient(to bottom right, blue, darkblue, blue);*/
    background-color: black;
}

.centerContents {
    /*all sibling elements will overlap each other*/
    position: absolute;

    /* Flexbox to center text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.points {
    background-image: linear-gradient(to bottom right, var(--google-blue), lightblue, var(--google-blue));
    font-size: 7vw;
}

.question {
    background-color: white;
    font-size: 2vw;
}

.answer {
    background-color: teal;
    font-size: 4vw;
}

audio {
    padding: 10%;
    width: 80%;
}